<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :my_fighter %>
    <%= form.text_field :my_fighter %>
  </div>

  <div class="field">
    <%= form.label :rival_fighter %>
    <%= form.text_field :rival_fighter %>
  </div>

  <div class="field">
    <%= form.label :game_result %>
    <%= form.text_field :game_result %>
  </div>

  <div class="field">
    <%= form.label :global_smash_power %>
    <%= form.text_field :global_smash_power %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
