<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>自分のキャラクター</th>
      <th>相手のキャラクター</th>
      <th>勝敗</th>
      <th>世界戦闘力</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.user_id %></td>
        <td><%= result.my_fighter %></td>
        <td><%= result.rival_fighter %></td>
        <td><%= result.game_result %></td>
        <td><%= result.global_smash_power %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
