<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>自分のキャラクター</strong>
  <%= @result.my_fighter %>
</p>

<p>
  <strong>相手のキャラクター</strong>
  <%= @result.rival_fighter %>
</p>

<p>
  <strong>勝敗</strong>
  <%= @result.game_result %>
</p>

<p>
  <strong>世界戦闘力</strong>
  <%= @result.global_smash_power %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
