<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>My fighter:</strong>
  <%= @result.my_fighter %>
</p>

<p>
  <strong>Rival fighter:</strong>
  <%= @result.rival_fighter %>
</p>

<p>
  <strong>Game result:</strong>
  <%= @result.game_result %>
</p>

<p>
  <strong>Global smash power:</strong>
  <%= @result.global_smash_power %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
