<%= form_with(model: result_fight, local: true) do |form| %>
  <% if result_fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result_fight.errors.count, "error") %> prohibited this result_fight from being saved:</h2>

      <ul>
        <% result_fight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>相手のキャラクター</strong>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :my_fighter %>
    <%= form.collection_select :my_fighter, Character.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :rival_fighter %>
    <%= form.collection_select :rival_fighter, Character.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :game_result %>
    <%= form.select :game_result, [['win', 1], ['lost', 2], ['even', 0]], {}, { id: "game_result"} %>
  </div>

  <div class="field">
    <%= form.label :global_smash_power %>
    <%= form.number_field :global_smash_power %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
