<p id="notice"><%= notice %></p>

<h1>Result Fights</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>My fighter</th>
      <th>Rival fighter</th>
      <th>Game result</th>
      <th>Global smash power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result_fights.each do |result_fight| %>
      <tr>
        <td><%= result_fight.user_id %></td>
        <td><%= result_fight.my_fighter %></td>
        <td><%= result_fight.rival_fighter %></td>
        <td><%= result_fight.game_result %></td>
        <td><%= result_fight.global_smash_power %></td>
        <td><%= link_to 'Show', result_fight %></td>
        <td><%= link_to 'Edit', edit_result_fight_path(result_fight) %></td>
        <td><%= link_to 'Destroy', result_fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result Fight', new_result_fight_path %>
