<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー</strong>
  <%= @result_fight.user_id %>
</p>

<p>
  <strong>自分のキャラクター</strong>
  <%= @result_fight.my_fighter %>
</p>

<p>
  <strong>相手のキャラクター</strong>
  <%= @result_fight.rival_fighter %>
</p>

<p>
  <strong>勝敗</strong>
  <%= @result_fight.game_result %>
</p>

<p>
  <strong>世界戦闘力</strong>
  <%= @result_fight.global_smash_power %>
</p>

<%= link_to 'Edit', edit_result_fight_path(@result_fight) %> |
<%= link_to 'Back', result_fights_path %>
